---
import Section from './Section.astro'
---

<Section
  title='Model Y'
  subtitle='Concertar una prueba de condución'
  color='black'
  sectionId='model-y'
>
  <!-- Buttons -->
  <div slot='footer-button' class='flex mx-auto gap-x-6'>
    <a
      class='inline-block px-12 py-2 border-[3px] rounded text-sm font-medium bg-gray-600 border-gray-600 text-white hover:bg-gray-500 hover:border-gray-500 transition-colors'
      href='#'
      >Explorar inventario
    </a>
    <a
      class='inline-flex justify-center items-center px-12 py-2 rounded text-sm font-medium text-black bg-white hover:bg-black hover:text-white transition-colors'
      href='#'
      >Pedido personalisado
    </a>
  </div>

  <!-- BackGround Media -->
  <img
    slot='background-media'
    src='/model-y.webp'
    alt='Model Y'
    class='h-full w-full object-cover object-center'
  />
</Section>
