---
import Section from './Section.astro'
---

<Section
  title='Disfrute de Tesla'
  subtitle='Programe una prueba de conducción hoy mismo'
  color='white'
  sectionId='model'
>
  <!-- Button -->
  <div slot='footer-button'>
    <a
      class='inline-block px-12 py-2 border-[3px] rounded text-sm font-medium text-white border-white bg-white/5 backdrop-blur-sm hover:text-black hover:bg-white transition-colors'
      href='#'
      >Prueba de conducción
    </a>
  </div>

  <!-- BackGround Media -->
  <video
    slot='background-media'
    class='h-full w-full object-center object-cover'
    autoplay
    muted
    loop
    src='/video.webm'></video>
</Section>
