---
import Logo from './Logo.astro'
---

<header
  id='landing-header'
  class='fixed top-0 flex items-center justify-between z-40 w-full py-3 px-10 text-white'
>
  <!-- Logo -->
  <div class='flex flex-grow basis-0'>
    <Logo />
  </div>

  <!-- Center Nav -->
  <nav>
    <ul
      class='flex text-sm [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:font-medium [&>li>a]:text-current [&>li>a]:transition-colors [&>li>a]:duration-500'
    >
      <li><a href='#model'>Model S</a></li>
      <li><a href='#model-3'>Model 3</a></li>
      <li><a href='#model-x'>Model X</a></li>
      <li><a href='#model-y'>Model Y</a></li>
      <li><a href='#powerwall'>Powerwall</a></li>
      <li><a href='#accesorios'>Carga</a></li>
    </ul>
  </nav>

  <!-- Right Menú -->
  <nav class='flex flex-grow justify-end basis-0'>
    <ul
      class='flex text-sm [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:font-medium [&>li>a]:text-current [&>li>a]:transition-colors [&>li>a]:duration-500'
    >
      <li><a href='#'>Soporte</a></li>
      <li><a href='#'>Tienda</a></li>
      <li><a href='#'>Cuenta</a></li>
      <li><a href='#'>Menú</a></li>
    </ul>
  </nav>

  <div
    id='menu-backdrop'
    class={`
    absolute left-0 top-0 -z-10 rounded 
    translate-x-[var(--left)] translate-y-[var(--top)]    
    w-[var(--width)] h-[var(--height)]
    bg-black/5 backdrop-blur-lg
    transition-all duration-500
    ease-in-out opacity-0
  `}
  >
  </div>
</header>

<script>
  const $listItems = document.querySelectorAll('#landing-header li')
  const $menuBackDrop = document.querySelector('#menu-backdrop') as HTMLElement

  $listItems.forEach((item) => {
    item.addEventListener('mouseenter', () => {
      const { left, top, width, height } = item.getBoundingClientRect()

      $menuBackDrop.style.setProperty('--left', `${left}px`)
      $menuBackDrop.style.setProperty('--top', `${top}px`)
      $menuBackDrop.style.setProperty('--width', `${width}px`)
      $menuBackDrop.style.setProperty('--height', `${height}px`)

      $menuBackDrop.style.opacity = '1'
      $menuBackDrop.style.visibility = 'visible'
    })

    item.addEventListener('mouseleave', () => {
      $menuBackDrop.style.opacity = '0'
      $menuBackDrop.style.visibility = 'hidden'
    })
  })
</script>

<script>
  const $headerElem = document.querySelector('#landing-header') as HTMLElement

  const observerOptions = {
    root: null, // Para el viewport o para un elemento en concreto
    rootMargin: '0px', // en cuando se vea el elemento
    threshold: 0.9 // porcentaje de visibilidad
  }

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      const { isIntersecting } = entry
      if (isIntersecting) {
        const color = entry.target.getAttribute('data-header-color')
        $headerElem.style.color = color
      }
    })
  }, observerOptions)

  const $sectionElements = document.querySelectorAll('.landing-section')
  $sectionElements.forEach((section) => observer.observe(section))
</script>
